<table
  mat-table
  [dataSource]="aspirantes"
  class="mat-elevation-z8"
>
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre y Apellidos</th>
    <td mat-cell *matCellDef="let aspirante">{{ aspirante.nombre }} {{ aspirante.apellidos }}</td>
  </ng-container>

  <ng-container matColumnDef="ci">
    <th mat-header-cell *matHeaderCellDef>Carné de Identidad</th>
    <td mat-cell *matCellDef="let aspirante">{{ aspirante.ci }}</td>
  </ng-container>

  <ng-container matColumnDef="edad">
    <th mat-header-cell *matHeaderCellDef>Edad</th>
    <td mat-cell *matCellDef="let aspirante">{{ aspirante.edad }}</td>
  </ng-container>

  <ng-container matColumnDef="sexo">
    <th mat-header-cell *matHeaderCellDef>Sexo</th>
    <td mat-cell *matCellDef="let aspirante">{{ aspirante.sexo }}</td>
  </ng-container>

  <ng-container matColumnDef="estado">
    <th mat-header-cell *matHeaderCellDef>Estado</th>
    <td mat-cell *matCellDef="let aspirante">{{ aspirante.estado }}</td>
  </ng-container>

  <ng-container matColumnDef="mixta">
    <th mat-header-cell *matHeaderCellDef>Empresa Mixta</th>
    <td mat-cell *matCellDef="let aspirante">{{ aspirante.mixta }}</td>
  </ng-container>

  <ng-container matColumnDef="cargo_mixta">
    <th mat-header-cell *matHeaderCellDef>Cargo que Ocupa en la Empresa Mixta</th>
    <td mat-cell *matCellDef="let aspirante">{{ aspirante.cargo_mixta }}</td>
  </ng-container>

  <ng-container matColumnDef="fecha_mixta">
    <th mat-header-cell *matHeaderCellDef>Fecha en la que se Empleó en la Empresa Mixta</th>
    <td mat-cell *matCellDef="let aspirante">{{ aspirante.fecha_mixta }}</td>
  </ng-container>

  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let aspirante">
      <button mat-button color="primary" (click)="openDialogDevolverMixta(aspirante.id)">Devolver Candidato</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
